# Project exclude paths
/CS201_Assign01_Gradle/.gradle/
/CS201_Assign01_Gradle/build/
/CS201_Assign01_Gradle/build/classes/java/main/
/CS201_Assign01_Gradle/build/classes/java/test/
/CS201_Assign02_Gradle/.gradle/
/CS201_Assign03_Gradle/.gradle/
/CS201_Assign04_Gradle/.gradle/
/CS201_Assign04_Gradle/build/
/CS201_Assign04_Gradle/build/classes/java/main/
/CS201_Assign04_Gradle/build/classes/java/test/
/CS201_Exam01_Fa21/.gradle/
/CS201_Exam02_Fa21/.gradle/
/CS201_Exam02_Fa21/build/
/CS201_Exam02_Fa21/build/classes/java/main/
/CS201_Exam02_Fa21/build/classes/java/test/
/CS201_Lab02_Gradle/.gradle/
/CS201_Lab02_Gradle/build/
/CS201_Lab02_Gradle/build/classes/java/main/
/CS201_Lab02_Gradle/build/classes/java/test/
/CS201_Lab03_Gradle/.gradle/
/CS201_Lab03_Gradle/build/
/CS201_Lab03_Gradle/build/classes/java/main/
/CS201_Lab03_Gradle/build/classes/java/test/
/CS201_Lab04_Gradle/.gradle/
/CS201_Lab04_Gradle/build/
/CS201_Lab04_Gradle/build/classes/java/main/
/CS201_Lab05_Gradle/.gradle/
/CS201_Lab05_Gradle/build/
/CS201_Lab05_Gradle/build/classes/java/main/
/CS201_Lab05_Gradle/build/classes/java/test/
/CS201_Lab06_Gradle/.gradle/
/CS201_Lab06_Gradle/build/
/CS201_Lab06_Gradle/build/classes/java/main/
/CS201_Lab07_Gradle/.gradle/
/CS201_Lab07_Gradle/build/
/CS201_Lab07_Gradle/build/classes/java/main/
/CS201_Lab08_Gradle/.gradle/
/CS201_Lab08_Gradle/build/
/CS201_Lab08_Gradle/build/classes/java/main/
/CS201_Lab08_Gradle/build/classes/java/test/
/CS201_Lab09_Gradle/.gradle/
/CS201_Lab09_Gradle/build/
/CS201_Lab09_Gradle/build/classes/java/main/
/CS201_Lab09_Gradle/build/classes/java/test/
/CS201_Lab10_Gradle/.gradle/
/CS201_Lab11_Gradle/.gradle/
/CS201_Lab12_Gradle/.gradle/
/CS201_Lab13_Gradle/.gradle/
/CS201_Lab15_Gradle/.gradle/
/CS201_Lab16_Gradle/.gradle/
/CS201_Lab17_Gradle/.gradle/
/CS201_Lab17_Gradle/build/
/CS201_Lab17_Gradle/build/classes/java/main/
/CS201_Lab17_Gradle/build/classes/java/test/
/CS201_Lab18_Gradle/.gradle/
/CS201_Lab19_Gradle/.gradle/
/CS201_Lab20_Gradle/.gradle/
/CS201_Lab21_Gradle/.gradle/
/CS201_Lab23_Gradle/.gradle/
/CS201_Lecture03_Gradle/.gradle/
/CS201_Lecture03_Gradle/build/
/CS201_Lecture03_Gradle/build/classes/java/main/
/CS201_Lecture04_Gradle/.gradle/
/CS201_Lecture04_Gradle/build/
/CS201_Lecture04_Gradle/build/classes/java/main/
/CS201_Lecture05_Gradle/.gradle/
/CS201_Lecture05_Gradle/build/
/CS201_Lecture05_Gradle/build/classes/java/main/
/CS201_Lecture10_Gradle/.gradle/
/CS201_Lecture10_Gradle/build/
/CS201_Lecture10_Gradle/build/classes/java/main/
/CS201_Lecture10_Gradle/build/classes/java/test/
/CS201_Lecture11_Gradle_Final/.gradle/
/CS201_Lecture12_Gradle/.gradle/
/CS201_Lecture15_Gradle/.gradle/
/CS201_Lecture16_Gradle/.gradle/
/CS201_Lecture18_Gradle/.gradle/
/CS201_Lecture19_Gradle/.gradle/
/CS201_Lecture20_Gradle/.gradle/
/CS201_Lecture21_Gradle/.gradle/
/CS201_Lecture23_Gradle/.gradle/
/CS201_Exam03_Fall2016_Gradle/
